@use "../global/forwards" as *;

.l-header {
  width: 100%;
  height: $h-height-sp;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $c-white;

  @include bp(pc) {
    height: $h-height-pc;
  }

  &__title {
    margin: 10px;
    display: flex;
    align-items: center;
    @include bp(pc) {
      margin: 0 0 0 21px;
    }

    & .c-logo {
      height: 30px;

      @include bp(pc) {
        height: 33px;
      }
    }

    & .c-tagline {
      display: none;
      @include bp(l-pc) {
        display: block;
      }
    }
  }

  &__btn {
    position: relative;
    width: 50px;
    height: 50px;
    @include bp(pc) {
      display: none;
    }

    &.active {
      background-color: $c-blue;
      & .p-hamburger {
        & > span {
          background-color: white;
          &:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 0px);
            transform-origin: top right;
          }
          &:nth-child(2) {
            visibility: hidden;
          }

          &:nth-child(3) {
            transform: rotate(-135deg) translate(-13px, 16px);
            transform-origin: bottom left;
          }
        }
      }
    }
  }

  &__nav {
    position: absolute;
    top: $h-height-sp;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: $c-white;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s;
    max-height: 0;

    @include bp(pc) {
      position: relative;
      top: 0;
      width: auto;
      transform: translateY(0);
      visibility: visible;
      overflow: visible;
      max-height: none;
    }

    &.active {
      visibility: visible;
      max-height: 100vh;
      
    }

 

    &__btn__sub {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 47px;
      z-index: 800;
      @include bp(pc) {
        display: none;
      }

      &.active {
        visibility: visible;
        max-height: 100vh;
        background-color: $c-gray;
        & .p-hamburger-sub {
          & > span {
            &:last-child {
              transform: translate(0px, 8px) rotate(0);
              opacity: 0;
            }
          }
        }
      }
    }

    &__sub {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      background-color: $c-white;
      overflow: hidden;
      visibility: hidden;
      transition: all 0.5s;
      max-height: 0;
      @include bp(pc) {
        position: absolute;
        width: 100%;
        top: $h-height-pc;
        left: 0;
      }

      &.active {
        width: auto;
        visibility: visible;
        max-height: 100vh;
        
        @include bp(pc) {
          background-color: $c-listBlue;
        }
      }
    }
  }
}

.p-nav-global__item,
.p-nav-global__item__link,
.l-header__nav__btn__sub,
.l-header__nav__sub {
  transition: none;
}

.p-nav-global__item.active,
.p-nav-global__item__link.active,
.l-header__nav__btn__sub.active,
.l-header__nav__sub.active {
  transition: all 0.8s ease;
}
