@use "../../global/forwards" as *;

.p-nav-global {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  transition: all 0.5s;

  @include bp(pc) {
    flex-direction: row;
  }

  &__item {
    position: relative;
    width: 100%;
    height: inherit;
    font-weight: bold;
    white-space: nowrap;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include bp(pc) {
      & .p-nav-global__item__link {
        padding: 0 10px;
        &:hover {
          @include bp(pc) {
            background-color: $c-skyBlue;
          }
        }
      }
    }

    @include bp(l-pc) {
      & .p-nav-global__item__link {
        padding: 0 15px;
      }
    }
    &--bgblue {
      display: none;
      background-color: $c-blue;
      color: $c-white;
      pointer-events: none;
      @include bp(pc) {
        display: block;
      }
    }

    &__link {
      display: block;
      width: 100%;
      height: auto;
      line-height: 2.8;
      color: inherit;
      padding: 0 0 0 10px;
      display: flex;
      width: auto;
      @include bp(pc) {
        line-height: 4.3;
        padding: 0;
        height: 100%;
      }
    }

    & .p-nav-sub {
      @include bp(pc) {
        position: absolute;
        top: $h-height-pc;
        transition: none; // デフォルトではtransitionなし
      }
      overflow: hidden;
      visibility: hidden;
      max-height: 0;
    }
    &:hover {
      & .p-hamburger-sub {
        background-color: $c-gray;

        & .p-hamburger-bar {
          & > span {
            &:last-child {
              display: none;
            }
          }
        }
      }

      & .p-nav-sub {
        width: auto;
        visibility: visible;
        max-height: 100vh;
      }
    }

    @include bp(pc) {
      &:hover {
        & .p-nav-sub {
          width: auto;
          visibility: visible;
          max-height: 100vh;
          transition: max-height 0.5s ease, visibility 0.5s ease; // ホバー時のみtransition
        }
      }
    }
    &:not(:last-child).active {
      background-color: $c-skyBlue;
    }
  }

  & li {
    & a:hover {
      background-color: #f3fafb;
      @include bp(pc) {
        background-color: $c-white;
      }
    }
  }
}

.p-nav-sub {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  transition: all 0.5s ease;

  @include bp(pc) {
    height: auto;
  }

  &__item {
    position: relative;
    height: inherit;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    background-color: $c-white;

    @include bp(pc) {
      background-color: #f3fafb;
    }
    &__link {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      line-height: 1.66;
      color: inherit;
      padding: 10px 10px 10px 25px;
      font-weight: normal;
      @include bp(pc) {
        padding: 15px 60px 15px 15px;
      }
      &:hover {
        @include bp(pc) {
          background-color: $c-white;
          color: #2498b3;
        }
      }
    }
  }
}
