@use "../../global/forwards" as *;

.p-nav-global {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  @include bp(pc) {
    flex-direction: row;
  }

  &__item {
    position: relative;
    width: 100%;
    height: inherit;
    font-weight: bold;
    white-space: nowrap;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include bp(pc) {
      padding: 0 10px;
    }

    @include bp(l-pc) {
      padding: 0 15px;
    }
    &--bgblue {
      display: none;
      background-color: $c-blue;
      color: $c-white;

      @include bp(pc) {
        display: block;
      }
    }

    &__link {
      display: block;
      width: 100%;
      height: auto;
      line-height: 1.66;
      color: inherit;
      padding: 10px;

      @include bp(pc) {
        line-height: 4.3;
        padding: 0;
        height: 100%;
      }
    }
    &:not(:last-child).active {
      background-color: $c-skyBlue;
    }
  }
}

.p-nav-sub {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  @include bp(pc) {
    height: auto;
  }

  &__item {
    position: relative;
    height: inherit;
    font-weight: bold;
    white-space: nowrap;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    &__link {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 1.66;
      color: inherit;
      padding: 15px 60px 15px 15px;
      font-weight: normal;
    }
    &.active {
      background-color: $c-skyBlue;
    }

    &:hover {
      background-color: $c-white;
      color: $c-blue;
    }
  }
}
