@use "../../global/forwards" as *;
.c-btn {
  display: inline-block;
  background-color: $c-blue;
  border-radius: 4px;
  color: $c-white;
  padding: 12px 18px;
  border: none;
  font-weight: bold;
  margin: 0.4em 0;
  transition: all 0.3s ease;
  @include bp(tablet) {
    padding: 24px 37px;
    font-size: 1.8rem;
  }
}
